/* Universal */
*{
    margin: 0;
    padding: 0;
}
.dark{
    background-color: #333;
}

/* Landing */
#landing{
    background-image: url(images/landing.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    /* background-attachment: fixed; */
}
#landing img{
    margin: 25vh 0 0 75vw;
    height: 250px;
    width: auto;
}

/* Nav */
nav{
    background: linear-gradient(to right, rgba(51, 51, 51, 0), rgba(51, 51, 51, .8));
    position: fixed;
    width: 100%;
    animation: drop;
    animation-duration: .8s;
}
@keyframes drop{
    0%{margin-top: -25vh;}
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 75px;
}
nav li{
    margin: 15px;
    font-size: 24px;
}
nav a{
    text-decoration: none;
    color: #fff;
}

/* Services */
#services{
    /* height: 75vh; */
    display: flex;
    justify-content: space-around;
    padding: 25px;
    text-align: center;
}
.box{
    margin-top: 10vh;
}
#services img{
    height: 50%;
}

#services p{
    width: 15vw;
    font-family: cursive;
}

/* What We Do */
.wwd h1{
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    /* padding-top: 15vh; */
    color: #333;
    font-size: 142px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 10px;
}
/* About */
#about{
    display: flex;
    justify-content: space-around;
    color: #333;
}
#about h2{
    font-family: cursive;
    font-weight: lighter;
    margin: 15px;
    text-align: center;
}
#about img{
    height: 250px;
    width: 350px;
    transition: .5s;
}
#about img:hover{
    transform: scale(1.1);
}

/* Consulting */
#consulting{
    height: 100vh;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* padding: 15px; */
    margin-top: 15vh;
}
#consulting img{
    height: 500px;
}
#consulting p{
    width: 35vw;;
    text-indent: 8%;
    line-height: 1.4em;
    color: #333;
    margin-top: 10vh;
}

/* Footer */
footer{
    height: 15vh;
    color: #fff;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
footer p{
    padding-top: 10vh;
}


/* Media Queries */
@media(max-width: 768px){
    nav{
        /* position: relative !important; */
        /* background: transparent; */
        /* animation: normal; */
        display: none !important;
    }
    #landing img{
        margin: 6vh 0 0 65vw;
    }
    #services p{
        width: auto;
        padding: 25px;
    }
    #about{
        flex-direction: column;
        align-items: center;
    }
    #about img{
        width: 75vw;
        height: auto;
    }
    #about img:hover{
        transform: none;
    }
    #consulting{
        padding-top: 15vh;
        flex-direction: column;
        align-items: center;
    }
    #consulting p{
        width: 80vw;
        padding-bottom: 15vh;
    }
}

@media(max-width: 420px){
    nav{
        display: none !important;
    }
    #landing img{
        margin: 0vh 0 0 20vw;
    }
    #services{
        flex-direction: column;
    }
    #services img{
        height: 15vh;
    }
    #services p{
        width: auto;
        padding: 25px;
    }
    .wwd h1{
        font-size: 40px;
    }
    #about{
        flex-direction: column;
        align-items: center;
    }
    #about img{
        width: 75vw;
        height: auto;
        margin: auto;
    }
    #about img:hover{
        transform: none;
    }
    #consulting{
        padding-top: 15vh;
        flex-direction: column;
        align-items: center;
    }
    #consulting p{
        width: 80vw;
        padding-bottom: 25vh;
    }
    footer p{
        padding-bottom: 0;
    }
}